---
import { Image } from "astro:assets";
import meAndZ from "../assets/images/me-and-z.jpg";
import LinkButton from "./LinkButton.astro";

interface Props {
	resumeUrl: string;
  linkedinUrl: string;
	mediumUrl: string;
}

const { resumeUrl, linkedinUrl, mediumUrl } = Astro.props;
---

<section class="content">
  <p>
    Are you interested in working with me as a design leader? Seeking a partner in product strategy or design systems?
  </p>

  <p>Please reach out if you think we can work together in any way.</p>

  <nav class="navigation-list">
    <ul>
      <li>
        <LinkButton label="Email Me" href="mailto:boru.design@gmail.com" />
      </li>
      <li>
        <LinkButton
          href={resumeUrl}
          label="My Resume"
          newWindow
        />
      </li>
      <li>
        <LinkButton
          href="https://www.linkedin.com/in/borudesign/"
          label="LinkedIn"
          newWindow
        />
      </li>
      <li>
        <LinkButton
          href="https://medium.com/@yorthehunter"
          label="Medium"
          newWindow
        />
      </li>
    </ul>
  </nav>
</section>

<style lang="scss">
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  p {
    font: var(--font-body-3);
    margin-bottom: var(--space-m);
  }

  .navigation-list > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
  }

  .navigation-list li {
    display: flex;
  }

  @media only screen and (max-width: 720px) {
    .navigation-list > ul {
      flex-direction: column;
    }
  }
</style>
