---
const deviantArtUrl = "https://www.deviantart.com/yorthehunter"
---

<p>
  I love designing with a purpose. As a creative kid who loved art, all of my creations tended to serve a purpose: storytelling through comic book art, pleasure in displaying my pop art, and joy in gifting charcoal drawings. I value designing with good intentions and creating joy for those around me. (<a href={deviantArtUrl} target="_blank">My old DeviantArt still exists</a>)
</p>
<p>
  My first design role in a product-driven company was at ModCloth in 2010. I had never before been at a company that was so strategically motivated; we were all moving in the same direction! It opened me up to the world of product design, where you aren't just creating to fulfill something inside yourself, but you're solving real problems for real people through design.
</p>
<p>
  I fell in love with the art of solving problems. From there, I joined ModCloth's head of product to create a startup incubator called Kemists. We were a small team rapidly seeking out problems and generating digital solutions. We started probably a dozen businesses that year, and I learned a lot about the intersection of what people say they want versus what they actually mean. It was constant exposure to user analysis.
</p>
<p>
  Next, I was fortunate to join Stitch Fix when it was just a tiny startup. In my nearly eight years there, I pushed myself to always seek value in my work while providing value to the business. I was a designer-developer hybrid at times, forming some of the closest partnerships I've ever had in my career. At Stitch Fix, I experienced true career growth—and growing pains—at every step of the way. Lifelong relationships developed. I developed.
</p>
<p>
  My hybrid nature and desire to "go wide" as a designer led me to design systems, where I could actively participate in several aspects of the experience, partner closely with my internal users (product teams), and broadly influence the overall user experience. I loved the strategy and deep thinking that went into crafting complex systems. Even more, I loved providing accessibility improvements, automations, and process enhancements to everyone around me.
</p>
<p>
  It's pure joy to make product teams' lives better. It's an adrenaline rush to see my designs across entire ecosystems. I took that passion back to a tiny startup called Anomalie, where we were using technology to provide beautiful, one-of-a-kind, and affordable dresses to consumers. Delight in the software took center stage during my time at Anomalie. I led a team and helped enable our whole organization to embrace design-thinking to make our work efficient yet delightful.
</p>
<p>
  At Modern Health, I met some of the most influential design and product leaders in my career. As part of a team at the cusp of a new type of product, I surrounded myself with people smarter than me and learned at a pace I hadn’t felt in years. Not only were we trying new things at a fast pace, but we cared deeply about what we were delivering. Accessible design was paramount, and user empathy was easy to come by. I used every part of the product I was building, and it felt great to contribute to the growing world of mental health tech.
</p>
<p>
  Later, at Built Technologies, I led design systems with a huge set of unknowns and ambiguity. At most times, this was completely thrilling, and the freedom to create the path forward felt amazing. But eventually, the lack of direction and instability of the future felt stunting in my career. I wanted to continue pushing myself to provide the best value I could.
</p>
<p>
  Today, I look back fondly on my many creations and partners over the years. I also look forward to pushing myself further, taking on new challenges, meeting new people, and influencing new users of all needs. I am a product designer who is driven by people. I design with a purpose, and that purpose is to spread joy through problem-solving.
</p>


<style lang="scss">
  p {
    font: var(--font-body-4);
  }
</style>
