---
import { Image } from "astro:assets";
import LinkButton from './LinkButton.astro';
import brianCleveland from "../assets/images/brian-cleveland-headshot.png"; 
import ThemeIcon from './ThemeIcon.astro';
---

<nav>
  <a href="#main" class="logo">
    <Image
      src={brianCleveland}
      alt="A photo of me and my wife Anna at the beach"
      class="image"
      loading="lazy"
    />
    <span>Brian Cleveland</span>
  </a>
  <ul>
    <li>
      <LinkButton href="#my-work" label="My Work" />
    </li>
    <li>
      <LinkButton href="#about-me" label="About Me" />
    </li>
    <ThemeIcon />
  </ul>
</nav>

<style lang="scss">
  .logo {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-2xs);

    @media screen and (max-width: 360px) {
      display: none;
    }

    .image {
      max-width: 56px;
      max-height: 56px;
    }

    span {
      font: var(--font-heading-6);

      @media screen and (max-width: 520px) {
        display: none;
      }
    }
  }

  nav {
    padding: var(--space-2xs) var(--space-s);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    height: 3rem;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: var(--space-2xs);
      height: 100%;
      align-items: center;

      li {
        // display: flex;
      }
    }  
  }
</style>
