---
import '@fontsource-variable/montserrat';

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Explore the portfolio of a seasoned product designer with 14 years of expertise in design systems and leadership, showcasing innovative and impactful work." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html.dark {
		/* --color-raspberry: #FF2D78; */
		--color-vibrant: #00b594;
		--color-vibrant-dark: #18F1CA;
		--color-primary: #fff;
		--color-secondary: #ddd;
		--color-bg: #151518;
		--color-bg-soften: #28272c;
		--color-bg-overlay: rgba(255, 255, 255, 0.1);
		--color-vibrant-gradient: radial-gradient(100% 316.05% at 0% 100%, #004B48 0%, #0B7B67 50%, #149256 100%);
	}

	:root {
		--color-raspberry: #FF2D78;
		--color-vibrant: #18F1CA;
		--color-vibrant-dark: #00b594;
		--color-primary: #151518;
		--color-secondary: #28272c;
		--color-bg: #fff;
		--color-bg-soften: #ddd;
		--color-bg-overlay: rgba(41,41,41,0.1);
		--color-vibrant-gradient: radial-gradient(100% 316.05% at 0% 100%, #00CBC4 0%, #18F1CA 50%, #5BF4AB 100%);

		--font-family: 'Montserrat Variable', sans-serif;
		--font-heading-weight: 800;
		--font-body-weight: 400;
		--font-step--1: clamp(0.8333rem, 0.7318rem + 0.5077vi, 1.1253rem) / 1.5;
		--font-step-0: clamp(1rem, 0.8261rem + 0.8696vi, 1.5rem) / 1.5;
		--font-step-1: clamp(1.2rem, 0.9219rem + 1.3904vi, 1.9995rem) / 1.25;
		--font-step-2: clamp(1.44rem, 1.0138rem + 2.131vi, 2.6653rem) / 1.25;
		--font-step-3: clamp(1.728rem, 1.0933rem + 3.1737vi, 3.5529rem) / 1.25;
		--font-step-4: clamp(2.0736rem, 1.1475rem + 4.6303vi, 4.736rem) / 1.25;
		--font-heading-1: var(--font-heading-weight) var(--font-step-4) var(--font-family);
		--font-heading-2: var(--font-heading-weight) var(--font-step-3) var(--font-family);
		--font-heading-3: var(--font-heading-weight) var(--font-step-2) var(--font-family);
		--font-heading-4: var(--font-heading-weight) var(--font-step-1) var(--font-family);
		--font-heading-5: var(--font-heading-weight) var(--font-step-0) var(--font-family);
		--font-heading-6: var(--font-heading-weight) var(--font-step--1) var(--font-family);
		--font-body-1: var(--font-body-weight) var(--font-step-2) var(--font-family);
		--font-body-2: var(--font-body-weight) var(--font-step-1) var(--font-family);
		--font-body-3: var(--font-body-weight) var(--font-step-0) var(--font-family);
		--font-body-4: var(--font-body-weight) var(--font-step--1) var(--font-family);

		--space-3xs: clamp(0.25rem, 0.2065rem + 0.2174vi, 0.375rem);
		--space-2xs: clamp(0.5rem, 0.413rem + 0.4348vi, 0.75rem);
		--space-xs: clamp(0.75rem, 0.6196rem + 0.6522vi, 1.125rem);
		--space-s: clamp(1rem, 0.8261rem + 0.8696vi, 1.5rem);
		--space-m: clamp(1.5rem, 1.2391rem + 1.3043vi, 2.25rem);
		--space-l: clamp(2rem, 1.6522rem + 1.7391vi, 3rem);
		--space-xl: clamp(3rem, 2.4783rem + 2.6087vi, 4.5rem);
		--space-2xl: clamp(4rem, 3.3043rem + 3.4783vi, 6rem);
		--space-3xl: clamp(6rem, 4.9565rem + 5.2174vi, 9rem);
	}
	* {
		margin: 0;
		padding: 0;
	}
	html {
		font-family: var(--font-family);
		font-size: 16px;
		background-color: var(--color-bg);
		transition: background-color 0.15s ease-out;
		scroll-behavior: smooth;
	}
	body {
		color: var(--color-primary);
	}

	a:link,
  a:visited {
    transition: color 0.15s;
    color: var(--color-vibrant-dark);
	}

  a:hover {
    color: inherit;
  }

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
